@import "src/scss/variables";

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 5px 30px;
  cursor: pointer;
  color: white;

  &.button--primary {
    background-color: #00b398;
  }

  &.button--confirm {
    background-color: #7ce0d3;
  }

  &.disabled {
    background-color: gray;
    cursor: not-allowed;
  }
}
