.action-buttons {
    position: absolute;
    bottom: 30px;
    left:30px;
}

.taskCols {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}

.column {
    width: 100%;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.columnContainer {
    width: 30%;
}

.columnTitle {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    font-size: x-large;
}