.main-panel {
  background-color: white;
  height: auto;
  padding: 30px;
  display: inline-block;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  margin: 20px;

  .panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    .title {
        width: 100%;
        padding: 10px 10px 10px 0;
        font-weight: 650;
        font-size: 24px;
    }

    .subtitle {
        color: #808080;
        font-size: 16px;
        margin-bottom: 30px;
    }
  }

  &.auto-panel {
    width: auto;
    height: auto;
  }

  &.fluid-panel {
    width: 100%;
    height: 100%;
  }
}

// TODO: Move all media queries into a separate scss file and import into root
@media screen and (max-width: 600px) {
  .main-panel {
    padding: 20px;
  }
}
