.form-field {
    display: flex;
    flex-direction: column;
    margin: 10px 0;

    input {
        height: 40px;
        font-size: 16px;
        box-shadow: 0 0 1px rgba(0,0,0,0.2), 0 1px 1px rgba(0,0,0,0.10);
        border: 1px solid #d1d3d4;
        padding: 12px;
        border-radius: 6px;
        color: #111;
        background: #fff;
        transition: 0.2s all;

        &:focus,
        &.active {
            outline: none;
            border-color: #03a9f4;
            box-shadow: 0 3px 8px rgba(0,0,0,0.10), 0 6px 6px rgba(0,0,0,0.15);
        }
    }
}

textarea {
    align-items: center;
    background-color: hsl(0,0%,100%);
    border-color: hsl(0,0%,80%);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    cursor: default;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 38px;
    outline: 0 !important;
    position: relative;
    transition: all 100ms;
    box-sizing: border-box;
    width: 100%;
}
