// 10pt margin
$base-margin: 10px;
$medium-margin: 20px;
$large-margin: 30px;
$xlarge-margin: 40px;

// 10pt padding
$base-padding: 10px;
$medium-padding: 20px;
$large-padding: 30px;
$xlarge-padding: 40px;

// colors
$main-color: #2EB2C5;
$light-gray: #D1D7E2;
$white: #fff;
$dark-blue: #2A2E43;
